<div class= "col-md-4 col-sm-6 col-xs-12">
  <li id="eachuser">
    <%= link_to user do%>
      <p class="user-img">
        <%= image_tag user.image.thumb.to_s %>
      </p>
      <p class="user-username">
        <%= user.user_name %>
      </p>
    <% end %>
  </li>
</div>