<div class="search-form mx-auto">
  <%= search_form_for @search, url: root_path do |f|%>
    <div>
      <p class="serch-tit">国名から検索</p>
      <%= f.country_select :country_code_cont, include_blank: true, selected: "", class: "serch-field" %>
    </div>
    <div>
      <p class="serch-tit">キーワードから検索</p>
      <%= f.search_field :name_or_content_or_country_code_or_area_or_tags_tag_name_cont_any, placeholder: "エリア名、都道府県名、旅行カテゴリー名(温泉、海外...etc)など", class: "serch-field" %>
    </div>
    <div>
      <%= f.submit "検索" %>
    </div>
  <% end %>
</div>