@import "bootstrap-sprockets";
@import "bootstrap";

/*universal*/

body{
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #f0f9ff;
}

section{
  overflow: auto;
}

textarea{
  resize:vertical;
}

li{
  list-style: none;
  padding: 5px 0;
}

button{
  border: none;
  background-color: none;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.center{
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
}
.whitebox{
  background-color: #fff;
}

.position-fixed{
  position: fixed
}

.img-responsive{
  display: inline;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
/*typography*/

h1,h2,h3,h4,h5,h6{
  line-height: 1;
}

h1{
  font-size: 2em;
  margin-bottom: 30px;
}

h2{
  font-size: 1.2em;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

p{
  font-size: 1.1em;
  line-height: 1.1em;
}

.btn{
  display: inline-block;
  text-align: center;
  background-color: #fff;
  border: solid 1px #000;
  font-weight: bold;
  font-size: 14px;
  color: #525252
}
.actions{
  text-align: center;
}

/* header */

header {
  padding: 15px 0 15px;
  background-color: #4a82c7;
}
#logo{
  float: left;
  font-weight: bold;
  padding-top: 15px;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}
.header-nav{
  float: right;
  padding-top: 30px;
  li{
    float: left;
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    i{
      color: #fff;
      font-size: 22px;
    }
    a{
     color: #fff;
    }
  }
}

/*static_page*/

.top-imgarea{
  position: relative;
  .top-img{
    width: 100%;
  }
  .top-tit{
    position: absolute;
    top: 58%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    h1{
      font-size: 2.5em;
      color: rgba(255, 255, 255, 0.8);
      font-weight: bold;
    }
    .signup-btn{
      margin-top: 10px;
      padding-top: 20px;
      a{
        font-size: 20px;
        font-weight: bold;
        border: solid white 2px;
        border-radius: 4px;
        padding: 7px;
        color: white;
        text-decoration: none;
        }
      a:hover{
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.section{
  padding-top: 50px;
  .section-inbox{
    background-color: #fff;
  }
}
.section-tit{
  color: #5589c9;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.08em;
  font-size: 27px;
  padding: 15px;
}

/*footer*/

footer {
  margin-top: 45px;
  padding: 10px 0;
  .post-icon{
    text-align: center;
    i{
      color: #fff;
      font-size: 25px;
    }
  }

}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
