@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*universal*/

body{
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff;
}

section{
  overflow: auto;
}

textarea{
  resize:vertical;
}

li{
  list-style: none;
  padding: 5px 0;
}

ul, ol{
  padding-inline-start: 0px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.center{
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
}

.whitebox{
  background-color: #fff;
}

.gray-box{
  background-color: #dfe5ec;
  padding: 20px 0;
}

.panel-body{
  padding:0 200px;
}

.position-fixed{
  position: fixed
}

.img-responsive{
  display: inline;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#page-area{
  margin: 40px 0;
}

.page-tit{
  padding:20px 0;
  text-align: center;
  font-size: 22px;
  color: #848484;
}

.user-form-text{
  margin: 15px;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.btn{
  display: inline-block;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0,0,0,0.7);
  a{
    color: rgba(0,0,0,0.7);
  }
}

.btn-primary{
  color: #fff;
  border-color: rgba(0,0,0,0.7);
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  border-color: rgba(0,0,0,0.7);
}


.test-btn{
  display: inline-block;
  text-align: center;
  background-color:#fff;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0,0,0,0.7);
  a{
    color: rgba(0,0,0,0.7);
  }
}

.actions{
  text-align: center;
}

/*typography*/

h1,h2,h3,h4,h5,h6{
  line-height: 1;
}

h1{
  font-size: 2em;
  margin-bottom: 30px;
}

h2{
  font-size: 1.2em;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

p{
  font-size: 1.1em;
  line-height: 1.1em;
}

/* header */

header {
  padding: 15px 0 15px;
  background-color: #4e6681;
}

#logo{
  float: left;
  font-weight: bold;
  padding-top: 15px;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}

.header-nav{
  float: right;
  padding-top: 30px;
  li{
    float: left;
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    i{
      color: #fff;
      font-size: 22px;
    }
    a{
     color: #fff;
    }
  }
}

/* search_form */

.search-form-tit{
  padding:20px 0;
  text-align: center;
  font-size: 18px;
  color: #545454;
  i{
    padding-right: 10px;
  }
}

.search-form-each{
  max-width: 405px;
  margin: 0px auto 20px;
  .search-form-each-tit{
    font-size: 16px;
    color: #545454;
  }
}

/*static_page*/

.top-imgarea{
  position: relative;
  .top-img{
    width: 100%;
  }
  .top-tit{
    position: absolute;
    top: 58%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    h1{
      font-size: 2.5em;
      color: #fff;
      font-weight: bold;
    }
    .signup-btn{
      margin-top: 10px;
      padding-top: 20px;
      a{
        font-size: 20px;
        font-weight: bold;
        border: solid white 2px;
        border-radius: 2px;
        padding: 10px;
        color: white;
        background: rgba(0, 0, 0, 0.4);
        text-decoration: none;
        }
      a:hover{
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.section{
  padding-top: 50px;
  .section-inbox{
    background-color: #fff;
  }
}

.section-tit{
  color: #5589c9;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.08em;
  font-size: 27px;
  padding: 15px;
}

.trips{
  margin:30px 0;
}

/*user_form*/
.user-form{
  max-width: 700px;
  margin: 0 auto;
  .user-form-in{
    padding: 30px 80px;
    background-color: #dfe5ec;
    .field{
      margin:30px 0 50px;
      label{
        padding-bottom: 10px;
        font-size: 16px;
        color: #737373;
      }
    }
    .password-edit{
      margin-top: 15px;
    }
  }
  .user-delete{
    margin-top: 20px;
    text-align: right;
  }
}

/*user_show*/
.user-info-box{
  margin:50px 150px;
  .user-left{
    text-align: right;
    padding-right: 50px;
  }
  .user-right{
    text-align: left;
    padding-left: 50px;
  }
}

.user-name{
  font-size: 20px;
  font-weight: bold;
  color: #3d3d3d;
  padding: 20px 0 10px;
}

.user-prof{
  padding: 20px;
}

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  max-width: 1100px;
  margin: 0 auto;}

.tab_item {
  width: calc(100%/4);
  height: 50px;
  border-bottom: 3px solid #c1c0c0;
  background-color: #fff;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #c1c0c0;
  display: block;
  float: left;
  font-weight: normal;
  text-align: center;
  transition: all 0.2s ease;
  .count{
    font-weight: 700;
  }
}

.tab_item:hover {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

#mytrip:checked ~ #mytrip_content,
#following_list:checked ~ #following_list_content,
#followers_list:checked ~ #followers_list_content,
#like_list:checked ~ #like_list_content {
  display: block;
}

.tabs input:checked + .tab_item {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 3px solid rgba(0, 0, 0, 0.7);
}

/*_user*/
#eachuser{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
  padding: 40px;
  margin-bottom: 15px;
  .user-img{
    margin-bottom: 20px;
    img{
      height: 150px;
      width: 150px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }
  p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
  }
}

/*_trip*/
.eachtrip{
  margin-bottom: 15px;
}
.eachtrip-picture{
  position: relative;
  display: inline-block;
  img{
    border-radius: 3px;
  }
  .caption{
    font-size: 110%;
    text-align: center;
    padding-top: 80px;
    color: #fff;
    a{
      color: #fff;
    }
  }
  .mask{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color:	rgba(0,0,0,0.4);
    -webkit-transition:	all 0.2s ease;
    transition: all 0.2s ease;
  }
  .timestamp{
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 14px;
  }
  .likecount{
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 17px;
  }
  .user-tripedit{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 17px;
    span{
      margin: 0 5px;
    }
  }
}
.eachtrip-picture:hover .mask{
  opacity: 1;
}

/*form*/
.btn-submit{
  display: inline-block;
  padding: 0.5em 1em;
  background-color: rgba(0,0,0,0.4);
  color: #FFF;
  border-radius: 3px;
  border: dashed 1px #FFF;
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.4);
  font-size: 14px;
  padding:10px 20px;
  margin-top: 15px;
}

.trip-picture{
  position: relative;
  margin-bottom: 15px;
  img{
    border-radius: 3px;
    width: 100%;
  }
  .trip-tit{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .tripform-picture{
    position: absolute;
    bottom: 10px;
    right: 5px;
  }
  .form-wide{
    width: 450px;
    margin: 25px;
  }
}

.trip-info{
  background-color: #e2e9ed;
  height: 100%;
  border-radius: 3px;
  padding: 30px 15px 30px;
  .form-in{
    padding:0px 10px 10px;
  }
  .form-tit{
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    color: #848383;
    padding: 0 0 10px 5px;
    border-bottom: dashed 2px #848383;
  }
  .tripform-info{
    margin: 16px 0;
    select{
     width: 100%; 
    }
  }
}

#trip-tags{
  background: #fff;
  height: 100px;
}

.form-out{
  margin: 25px 0;
  background-color: #fffee2;
  border-radius: 3px;
  padding: 20px 15px 15px;
  .form-tit{
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffb30f;
  }
  .form-in{
    border: dashed 2px #ffc870;
    border-radius: 3px;
    padding: 25px 25px 60px;
    position: relative;
    .each-form-add{
      position: absolute;
      bottom: 8px;
      right: 50%;
      text-align: center;
      font-size: 22px;
      i{
        color: #9c9c9c;
      }
    }
    .each-form{
      margin: 10px 0;
    }
  }
  .each-form-out{
    border-bottom: dashed 1px #9c9c9c;
    margin-top: 20px;
    padding: 10px 0 10px;
    position: relative;
    padding-top: 10px;
    .each-form-delete{
      position: absolute;
      top: 0px;
      right: 8px;
      i{
        color: #9c9c9c;
      }
    }
  }
  .eachday-form{
    margin-bottom: 25px;
    .eachday-form-date{
      border-bottom: solid 2px #c3c1c1;
      text-align: center;
      padding-bottom: 10px;
      .date-count{
        color: #696868;
        font-size: 16px;
        font-weight: bold;
      }
      .each-day-delete{
        i{
          color: #9c9c9c;
        }
      }
    }
  }
  .each-day-add{
    position: absolute;
    bottom: 10px;
    left: 2%;
    font-size: 15px;
    a{
      color: #696868;
      text-decoration: none;
    }
    i{
      color: #9c9c9c;
    }
  }
  .schedule-form{
    position: relative;
    padding-bottom: 50px;
    .each-sche-add{
      position: absolute;
      bottom: 15px;
      right: 45%;
      text-align: center;
      font-size: 15px;
      a{
        color: #696868;
        text-decoration: none;
      }
      i{
        color: #9c9c9c;
      }
    }
  }
}

/*trip_show*/
.trip-show-picture{
  max-width: 740px;
  position: relative;
  margin-bottom: 15px;
  img{
    border-radius: 3px;
    width: 100%;
  }
  .trip-show-head{
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    text-align: center;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff;
    .trip-show-name{
      font-size: 20px;
      padding-bottom: 10px;
    }

  }
}
.trip-show-info{
  background-color: #e2e9ed;
  border-radius: 3px;
  padding: 30px 15px 20px;
  margin-bottom: 15px;
  .trip-show-user{
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
  }
  .trip-show-info-tit{
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    color: #848383;
    padding: 0 0 10px 5px;
    border-bottom: dashed 2px #848383;
  }
  .trip-show-eachinfo-tit{
    position: relative;
    padding-left: 1.2em;
    padding-bottom: 10px;
    line-height: 1.4;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
  }
  .trip-show-eachinfo-tit:before {
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    position: absolute;
    font-size: 0.6em;
    left: 0;
    top: 0.2em;
    color: rgba(0,0,0,0.5);
  }
  .trip-show-eachinfo{
    margin: 16px 0;
  }
  .trip-show-tag{
    ul{
      display: inline-block;
      padding-left: 4px;
      li{
        display: inline-block;
      }
    }
  }
}

.trip-show-out{
  margin: 35px 0;
  background-color: #fffee2;
  border-radius: 3px;
  padding: 30px;
  .trip-show-tit{
    margin-bottom: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffb30f;
    i{
      margin-right: 10px;
    }
  }
  .trip-show-in{
    border: dashed 2px #ffc870;
    border-radius: 3px;
    padding: 25px 40px 35px;
  }
}

.trip-note-each{
  padding:5px 10px 15px 10px;
  border-bottom: dashed 1px #9c9c9c;
  margin:25px 0;
}
.trip-note-subject{
  position: relative;
  padding-left: 1.2em;
  padding-bottom: 10px;
  line-height: 1.4;
  font-size: 15px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}
.trip-note-subject:before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  position: absolute;
  font-size: 0.8em;
  left: 0;
  top: 0.2em;
  color: rgba(0,0,0,0.5);
}

.trip-schedule-each{
  .trip-schedule-time{  
    font-size: 17px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    padding-top: 15px;
  }
  .trip-schedule-right{
    border-left: solid 4px #ffc870;
    position: relative;
    .trip-schedule-action{
      position: absolute;
      top: 0px;
      left: -32px;
      background: #fff;
      height: 60px;
      width: 60px;
      border: solid 2px #ffc870;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      img{
        padding: 12px;
      }
    }
    .trip-schedule-info{
      padding: 20px 20px 30px 30px;
      .trip-schedule-place{
        font-size: 20px;
      }
      .trip-schedule-memo{
        padding: 5px 0 0 5px;
      }
    }
  }
}

.trip-show-btn{
  text-align: right;
  .btn{
    padding: 10px 20px;
    margin: 5px;
  }
}

.trip-show-like{
  text-align: center;
  margin-top: 20px;
}

.like-btn{
  display: inline-block;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  border-radius: 3px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  padding:10px 20px;
  i{
    padding-right: 7px;
  }
}

.unlike-btn{
  display: inline-block;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  border-radius: 3px;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0,0,0,0.3);
  padding:10px 20px;
  i{
    padding-right: 7px;
  }
}

.liked-countshow{
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0;
}

/*footer*/
footer {
  margin-top: 45px;
  padding: 10px 0;
  .post-icon{
    text-align: center;
    i{
      color: #fff;
      font-size: 25px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
