<header class="navbar navbar-expand-sm navbar-fixed-top navbar-light">
  <div class="container">
    <%= link_to "Trilog", root_path, id: "logo" %>
    <nav>
      <ul class="header-nav">
        <li><%= link_to"ログイン", login_path %></li>
        <li><%= link_to"ログアウト", logout_path, method: :delete %></li>
        <li><%= link_to"ユーザー登録", signup_path %></li>  
      </ul>
    </nav>
  </div>
</header>